body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    width: 50%;
    
    
}
.bottom-header{
    border-top: solid grey;
}

.top-header{
    color: red;
}

.nom {
    color: white;
    background-color: red;
}

.titolarticle {
    color: gray;
}

article {
    padding: 10px 5px 10px 5px;
    background-color: rgb(237, 237, 237);
}

.blog{
    margin: 10px;
    border-top: solid grey 2px;
    padding: 10px;
    color: black;
}

.data{
    font-style: italic;
    color: gray;
}

.titol{
    font-weight: bold;
    color: red;
    padding-right: 3px;
    text-decoration: underline gray;    
}

.readmore{
    font-weight: lighter;
    color: red;
    padding-right: 3px;
    text-decoration: underline gray;
}
