.curriculum {
    max-width: 80%;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    img{
        border-radius: 2em;
        border: solid 2px rgba(118, 134, 119, 0.304);
    }
}