td {
    width: 1%;
    white-space: nowrap;
    text-align: center;
    background-color: #a4c3b242;
}

table {
    margin: 3em 0em;
    box-shadow: 4px 4px 10px #A4C3B2;
    max-width: 100%;
}

table,
td {
    font-size: medium;
    border: 2px solid rgb(8, 43, 8);
    border-collapse: collapse;
    padding: 1em;
}

th {
    padding: 0.3em;
    box-shadow: 0px 0px 0px #A4C3B2;
    font-weight: bolder;
    text-align: center;
}
