body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 55, 5);
    background-color: #F6FFF8;
    margin: 0;
    padding: 1em 2em;
}

header {
    display: flex;
    max-height: 10%;
    box-shadow: 0 7px 5px -5px #A4C3B2;
    border-radius: 10px;
    margin-bottom: 4em;
}

li {
    font-size: 1em;
    justify-content: center;
    display: inline;
    list-style: none;
    padding: 0.3em 1em;
    margin-right: 0.5em;
    border-right: solid #6B9080 2px;

    &:hover {
        background-color: white;
        border-radius: 2px;
        box-shadow: 5px 2px 5px #A4C3B2;
    }
}

.menu {
    padding: 0 1em;
    display: flex;
    align-items: center;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: rgb(8, 43, 8);

    &:visited {
        color: rgb(8, 43, 8);
    }

    &:hover {
        color: rgb(42, 122, 42);
    }

    &.menu {
        font-weight: 600;
        color: rgb(8, 43, 8);
    }
}

footer {
    margin-top: 5em;
    padding: 0em 1em;
}

.titol_index {
    padding-left: 1em;
}

a.titol_index {
    font-weight: 600;
    color: rgb(8, 43, 8);
    text-decoration: none;
}

.presentacio {
    padding: 0em 1em;
}

.superior {
    margin-bottom: 4em;

}