body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 55, 5);
    background-color: #F6FFF8;
    margin: 0;
    padding: 1em 2em;
    line-height: 2em;
    max-width: 100%;
    height: auto;
}

h2 {
    text-transform: uppercase;
}

header {
    display: flex;
    max-height: 10%;
    box-shadow: 0 7px 5px -5px #A4C3B2;
    border-radius: 10px;
    margin-bottom: 3em;
}

li {
    font-size: 1em;
    display: inline;
    list-style: none;
    padding: 0.3em 1em;
    margin-right: 0.5em;
    border-right: solid #6B9080 2px;

    &:hover {
        background-color: #eaffee;
        border-radius: 4px;
        box-shadow: 4px 4px 10px #A4C3B2;
    }
}

.menu {
    padding: 0 1em;
    display: flex;
    align-items: center;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: rgb(8, 43, 8);

    &:visited {
        color: rgb(8, 43, 8);
    }

    &:hover {
        color: rgb(15, 120, 50);

    }

    &.menu {
        font-weight: 600;
        color: rgb(8, 43, 8);

        &:hover {
            color: rgb(8, 105, 20);

        }
    }
}


footer {
    max-width: 100%;
    box-shadow: 0px 2px 10px #A4C3B2, -1px -3px 15px #A4C3B2;
    background-color: #618f6c53;
    margin-top: 5em;
    padding: 1em 1em 0em 1em;
    border-radius: 1em 1em 0.3em 0.3em;
}

.titol_index {
    padding-left: 1em;
}

a.titol_index {
    font-weight: 600;
    color: rgb(8, 43, 8);
    text-decoration: none;
}

.presentacio {
    padding: 0em 1em;
}

.superior {
    margin-bottom: 2em;
}

article.presentacio.superior {
    display: flex;
}

.superior.esquerra {

    max-width: 60%;
    width: 60%;
    text-align: justify;
    margin-right: auto;
}

.superior.dreta {
    display: grid;
    max-width: 40%;
    width: 40%;
    margin-left: auto;
    justify-items: center;

    img {
        max-width: 50%;
        width: 50%;
        border-radius: 40%;
        padding-top: 1em;
        object-fit: contain;
        box-shadow: 8px 8px 7px -5px #A4C3B2;
    }
}

.habilitats {
    display: flex;

    .administratiu,
    .informatic,
    .personal {
        width: 33%;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding-left: 0px;

        li {
            border-bottom: solid #6B9080 2px;
            border-right: none;
            margin-right: 2em;
            padding-left: 0em;
            max-width: 90%;
            line-height: 3em;

            &:first-child {
                border-top: solid #6B9080 2px;
            }

            &:hover {
                background-color: transparent;
                border-radius: 0px;
                box-shadow: none;
            }
        }
    }
}

.peu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    h1 {
        padding: 0em 2em;
    }

    ul {
        padding: 0em 2em;

        li {
            border: solid #6b908045 2px;
            text-align: center;
        }
    }
}

.copyright {
    justify-content: center;
    display: grid;
    width: 100%;
}